/**
Show or hide advertisement images based on size of viewport.

Default Sizes for Twitter Bootstrap’s Media Queries:
https://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries
**/

@media only screen{
    /* Only show leaderboard for everything that's bigger than Small Devices, Tablets */
    .ad-leaderboard{
        display: block;
    }

    /* Hide 3-1-rectangle for everything that's bigger than Small Devices, Tablets.  */
    .ad-3-1-rectangle{
        display: none;
    }
}


@media only screen and (max-width : 767px) {
    /* Hide leaderboard for everything that's as mall or smaller than than Small Devices, Tablets */
    .ad-leaderboard{
        display: none;
    }

    /* Hide ad-square-popup for everything that's as small or smaller than Small Devices, Tablets.  */
    .ad-square-popup{
        display: none;
    }

    /* Show 3-1-rectangle for everything that's  as small or smaller than Small Devices, Tablets.  */
    .ad-3-1-rectangle{
        display: block;
    }
}

